
body{
    margin: 0em;
    padding: 0em;
    height: 100vh;
}
#pantalla2{
    display: none;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-image: url(./img/segundofondo.jpg);
    background-size: cover;
}
.imagenescoches{
    height: 10em;
    width: 10em;
    margin-left: 3em;
    margin-right: 3em;
}
.nombresparticipantes{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 20em;
    width: 30em;
    font: oblique bold 100% cursive;
    color:red;
}
.pressButton{
    height: 25em;
    width: 108em;
    font: oblique bold 100% cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
}
.seleccionDeJugadores{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.nombresDebajoCoches{
    display: flex;
    margin: 2em;
    justify-content: space-around;
}
.segundofondo{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0em;
    padding: 0em;
}
.fondo1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./img/imagen_de_fondo.png);
    background-size: cover; 
}
.pulsaBotonSelect{
    color:red;
}
.fondo3{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./img/fondo3.jpg);
    background-size: cover;
}
.parteAbajo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 15em;
}
.posicioncoches{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30em;
    height: 15em;
} 
.peque{
    height: 15em;
    width: 15em;
}
.pulsaBotons{
    height: 20em;
    width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pantalla3{
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#divmarcadores{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: row;
    height: 80em;
    width: 50em;
}
#marcadoresp1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    border-radius: 2em 2em 2em 2em;
    height: 2em;
    width: 1em;
}
#marcadoresp2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: bisque;
    border-radius: 2em 2em 2em 2em;
    height: 2em;
    width: 1em;
}
#cabezabarrasIzquierda{
    display: flex;
    height: 2em;
    width: 3em;
}
#cabezabarrasDerecha{
    display: flex;
    height: 2em;
    width: 3em;
}

#imagenbandera{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30em;
    width: 3em;
    background-image: url(./img/banderameta.png);
    background-size: cover;
}
#pedalesacelerar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47em;
    width: 5em;
    background-image: url(./img/pedalesacelerar.png);
    background-size: cover; 
}
#pantalla4{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: red;
}
#nombreganador{
    display: center;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
#cabezabarras{
    display: flex;
    height: 3em;
    width: 3em;
}
#super{
    display: flex;
    height: 15em;
    width: 15em;
}
#frenada{
    display: flex;
    height: 15em;
    width: 15em;
}
#ganador{
    display: flex;
    height: 20em;
    width: 20em;
}

